/.dev-image
/.dev-kubeconfig
/.dapper
/.cache
/bin
/dist
*.swp
.idea
/acorn
/go.work
/go.work.sum
/cosign.key
/releases
/pkg/ui/server/static/dashboard
/vendor
apiserver.local.config
/.envrc
**/.DS_Store
