name: Validate docs build
on:
  push: {}
  pull_request:
    paths:
      - docs/**
    branches:
      - main

jobs:
  validate-docs:
    runs-on: buildjet-4vcpu-ubuntu-2004
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - run: make init-docs
      - run: make validate-docs
